fastapi
uvicorn
python-dotenv
pydantic
requests
# Usamos versiones modernas y flexibles
langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-text-splitters>=0.3.0
# La libreria de Google actualizada
langchain-google-genai>=2.0.0
google-generativeai>=0.8.0
# Dependencias de herramientas
langchainhub
tavily-python
gspread
google-auth
oauth2client
google-api-python-client
supabase
pypdf
faiss-cpu
python-multipart