# Archivos de Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Carpetas de Dependencias y Build
/node_modules
/dist
/dist-ssr

# Variables de Entorno y Configuración Local
.env
*.local

# Archivos de Editor (VS Code / JetBrains) y Sistema Operativo
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?